//>  ████████████████████████████████████  INTRO
.grid__header--intro {
    grid-area: header;
    background-color: red;
    padding-top: 3vw;
    padding-bottom: 1.5vw;
    // margin-top: 8vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 0vw;
    width: 79vw;

};

.flex__container--intro  {

display: flex;

}     

.flex__container--social  {

display: flex;

}    

.social__instagram {
position: absolute;
width: 6vw;
top: 7vw;
right: 20vw;
}

.social__tiktok {
position: absolute;
width: 6vw;
top: 7vw;
right: 12vw;
}

.h7 {
    font-size: 2vw;
    line-height: 1.35;
    color: black;
    // text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

//_ ████████████████████████████████████  MOBILE INTRO

@media only screen and (max-width: 600px) {
    .grid__header--intro {
    grid-area: header;
    background-color: red;
    padding-top: 3vw;
    padding-bottom: 1.5vw;
    // margin-top: 8vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 0vw;
    width: 100vw;
}
}