

//>  ████████████████████████████████████  INTRO

.intro__logos--container {

display: flex;
max-width: 690px;
flex-direction: row;
justify-content: space-between;

}

.intro__address {



}

.intro__logos img{

width: 8vw;

}

h4 {
font-size: 1.75vw;
color: black;
text-shadow: 0px 4px 3px rgba(0, 0, 0, 0), 0px 8px 13px rgba(0, 0, 0, 0), 0px 18px 23px rgba(0, 0, 0, 0.21);
line-height: 1.25;
}



