//>  ████████████████████████████████████  INTRO
.grid__header--intro {
    grid-area: header;
    background-color: red;
    padding-top: 3vw;
    padding-bottom: 1.5vw;
    margin-top: 8vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2vw;
    width: 79vw;

};

//_ ████████████████████████████████████  MOBILE INTRO

@media only screen and (max-width: 600px) {
    .grid__header--intro {
    grid-area: header;
    background-color: red;
    padding-top: 3vw;
    padding-bottom: 1.5vw;
    margin-top: 8vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2vw;
    width: 100vw;
}
}